SECTIONS: 
    1. Home
        i. Profile photo
        ii. Name

    2. About Me
    (3. Projects) 4. Resume properly explain, then at end download button for downloading resume
    5. Linktree
    6. Contact 
         i. mail id
        ii. contact no
        iii. linkedin
        iv. github

End of the page: copyright symbol | @ 2025 Tanya Jain | All Rights Reserved

1,2,6 - Page1
3,4 - Page2
5 - Linktree website link 

.......................................................................................................................
